body{
    background-color: palegoldenrod;
}
header{
    background-color:#fa9e9e;
    width: 100%;
    height: 100px;
    font-size: 30px;
}

a{
	display:block; 
	text-decoration: none;
	background-color: #99ff99;
	color: #ff80bf;
	height: 50px;
	width: 100px;
}
a:focus{
	background-color: #00e600;
}
a:hover {
	background-color: #00b300;
}
a:active {
	background-color: #ffcccc;
}

ul{
	list-style: none;
	padding: 0px;
	text-align: center;
}

li {
	margin: 0;
	display:inline-block; 
}

nav {
	width: 100%;
	height: 50px;
	background-color: #ffcccc;
	
}
.dropdown{
	display: inline-block;
	position: relative; 
}

.dropdown-content{
	display: none; 
	position: absolute;
	width: 100%;
	z-index: 1;
}

.dropdown:hover .dropdown-content{
	display:block;
}

section{
    width: 76%;
    background-color: #fa9e9e;
    float: left;
    margin-right: 2%;
    margin-top: 2%;

}


aside{
    width: 10%;
    background-color: blueviolet;
    margin-top: 2%;
    margin-right: 1%;
    float: left;
    
}

.reklam{
    width: 10%;
    background-color: rgb(32, 218, 41);
    margin-top: 2%;
    margin-left: 1%;
    float: right;
    
}

